body{
    font-family: 'Courier New', Courier, monospace;
    text-align: center;
    color:rgb(54, 54, 54);
    padding: 0px;
    margin: 0px;
}

#cabecera{
    display: flex;
    align-items: center;
    background-color: #75a5ee;
}

#cabecera img{
    width: 240px;
    height: 160px;
    padding: 3px 3px 3px 10px;
}

h1{
    width: 80%;
    text-align: center;
}

#container{
    width: 70%;
    padding: 1em;
    text-align: left;
    border: 3px solid #000;
    margin: 0 auto;
}

#container h1{
    font-size: 30px;
}